@charset "UTF'-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(to bottom, rgb(11, 184, 11), rgb(8, 78, 8));
    padding: 50px;
}

header > h1 {
    color: white;
    text-align: center;
}

header > p {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px;
}

nav > a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav > a:hover {
    background-color: rgba(24, 77, 24, 0.829);
    padding: 10px;
    text-align: justify;
}

main {
    margin: 0px 80px 0px 80px ;
    background-color: white;
    text-indent: 10px;
    padding: 1px 0px 0px 0px ;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.329);
}

main > h2 {
    color: green;
    margin: 10px;
}

main > h3 {
    color: green;
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.486), rgba(0, 128, 0, 0));
    margin: 10px;
}

main > p {
    text-align: justify;
    padding: 10px;
}

main > .frame {
    background-color: green;
    margin: 15px 0px 15px 0px;
    padding: 10px;
    text-align: center;
}

.tabela > aside {
    background-color: green;
    border-radius: 20px 20px 0px 0px;
    padding: 10px;
    color: white;
    font-weight: bolder;
}

main > .tabela {
    background-color: rgba(0, 128, 0, 0.384);
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
}

main > .parágrafo {
    text-align: center;
}

footer {
    background-color: green;
    margin: 10px 0px 0px 0px;
    padding: 10px;
    text-align: center;
    color: white;
}